@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Yekan, Arial, Helvetica, sans-serif;
}

::selection {
  background: hsl(0, 0%, 19%);
  color: hsl(0, 0%, 100%);
}

@layer base {
  @layer base {
    :root {
      --background: 0 0% 90%;
      --secondaryBg: 0 0% 98%;
      --iconLight: 0 0% 50%;
      --textLight: 218 51% 26%;
      --foreground: 248 0% 10%;
      --button: 0 0% 100%;
      --card-light: 0 0% 100%;
      --card: 248 0% 100%;
      --card-foreground: 248 0% 15%;
      --popover: 248 0% 100%;
      --popover-foreground: 218 23% 23%;
      --primary: 248 0% 10%;
      --primary-foreground: 0 0% 100%;
      --secondary: 248 10% 90%;
      --secondary-foreground: 0 0% 0%;
      --muted: 210 10% 95%;
      --muted-foreground: 248 0% 40%;
      --accent: 210 10% 90%;
      --accent-foreground: 248 0% 15%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 248 0% 100%;
      --border: 248 20% 82%;
      --input: 0 0% 100%;
      --ring: 248 20% 82%;
      --radius: 0.5rem;
      --font-geist-sans: "Geist Sans", sans-serif;
      --font-geist-mono: "Geist Mono", monospace;
      --font-yekan: "Yekan", sans-serif;
      --font-parastoo: "Parastoo", sans-serif;
      --font-sahel: "Sahel", sans-serif;
      --font-samim: "Samim", sans-serif;
      --font-shabnam: "Shabnam", sans-serif;
      --font-tanha: "Tanha", sans-serif;
      --font-vazir: "Vazir", sans-serif;
    }
    .dark {
      --background: 0 0% 11%;
      --iconLight: 0 0% 30%;
      --textLight: 0 0% 42%;
      --secondaryBg: 0 0 15%;
      --foreground: 248 0% 100%;
      --button: 0 0% 19%;
      --card-light: 0 0% 16%;
      --card: 248 0% 10%;
      --card-foreground: 248 0% 100%;
      --popover: 248 10% 5%;
      --popover-foreground: 248 0% 100%;
      --primary: 0 0% 100%;
      --primary-foreground: 0 0% 100%;
      --secondary: 248 10% 20%;
      --secondary-foreground: 0 0% 100%;
      --muted: 210 10% 25%;
      --muted-foreground: 248 0% 65%;
      --accent: 210 10% 25%;
      --accent-foreground: 248 0% 95%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 248 0% 100%;
      --border: 0 0% 19%;
      --input: 0 0% 19%;
      --ring: 248 0% 10%;
      --radius: 0.5rem;
      --font-geist-sans: "Geist Sans", sans-serif;
      --font-geist-mono: "Geist Mono", monospace;
      --font-yekan: "Yekan", sans-serif;
      --font-parastoo: "Parastoo", sans-serif;
      --font-sahel: "Sahel", sans-serif;
      --font-samim: "Samim", sans-serif;
      --font-shabnam: "Shabnam", sans-serif;
      --font-tanha: "Tanha", sans-serif;
      --font-vazir: "Vazir", sans-serif;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
