@tailwind base;
@tailwind components;
@tailwind utilities;

@import "rsuite/dist/rsuite-rtl.min.css";

body {
  font-family: Yekan, Arial, Helvetica, sans-serif;
  font-feature-settings: "ss01";
}

::selection {
  background: hsl(207, 90%, 54%);
  color: hsl(0, 0%, 100%);
}

@layer base {
  :root {
    /* Color System */
    /* Primary Colors */
    --primary: 207 90% 54%;
    --primary-hover: 212 80% 42%;
    --primary-foreground: 0 0% 100%;

    /* Secondary Colors */
    --secondary: 172 100% 37%;
    --secondary-foreground: 0 0% 0%;

    /* Backgrounds */
    --background: 0 0% 90%;
    --secondaryBg: 0 0% 98%;
    --background-gradient-from: 207 90% 54%;
    --background-gradient-to: 172 100% 37%;

    /* Cards */
    --card: 0 0% 100%;
    --card-light: 0 0% 100%;
    --card-foreground: 248 0% 15%;

    /* Text */
    --text: 248 0% 20%;
    --textLight: 248 0% 40%;
    --foreground: 248 0% 10%;

    /* UI Elements */
    --input: 0 0% 100%;
    --input-blue: 213 92% 85%;
    --button: 0 0% 100%;
    --border: 207 90% 54%;
    --tab: 207 90% 54%;
    --tab-active: 172 100% 37%;

    /* Miscellaneous */
    --icon: 248 0% 10%;
    --icon-light: 0 0% 50%;
    --muted: 210 10% 95%;
    --muted-foreground: 248 0% 40%;
    --accent: 210 10% 90%;
    --accent-foreground: 248 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 248 0% 100%;
    --popover: 248 0% 100%;
    --popover-foreground: 218 23% 23%;
    --ring: 248 20% 82%;

    /* Typography */
    --font-geist-sans: "Geist Sans", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
    --font-yekan: "Yekan", sans-serif;
    --font-parastoo: "Parastoo", sans-serif;
    --font-sahel: "Sahel", sans-serif;
    --font-samim: "Samim", sans-serif;
    --font-shabnam: "Shabnam", sans-serif;
    --font-tanha: "Tanha", sans-serif;
    --font-vazir: "Vazir", sans-serif;

    /* Borders & Radius */
    --radius: 0.5rem;
  }

  .dark {
    /* Color System */
    /* Primary Colors */
    --primary: 207 90% 54%;
    --primary-foreground: 0 0% 100%;

    /* Secondary Colors */
    --secondary: 172 100% 37%;
    --secondary-foreground: 0 0% 100%;

    /* Backgrounds */
    --background: 0 0% 11%;
    --secondaryBg: 0 0 15%;
    --background-gradient-from: 207 90% 30%;
    --background-gradient-to: 172 80% 25%;

    /* Cards */
    --card: 0 0% 26%;
    --card-light: 0 0% 16%;
    --card-foreground: 248 0% 100%;

    /* Text */
    --text: 248 0% 100%;
    --textLight: 248 0% 65%;
    --foreground: 248 0% 100%;

    /* UI Elements */
    --input: 0 0% 30%;
    --input-blue: 213 92% 85%;
    --button: 0 0% 19%;
    --border: 0 0% 19%;
    --tab: 210 10% 25%;
    --tab-active: 0 0% 11%;

    /* Miscellaneous */
    --icon: 248 0% 100%;
    --icon-ight: 0 0% 30%;
    --muted: 210 10% 25%;
    --muted-foreground: 248 0% 65%;
    --accent: 210 10% 25%;
    --accent-foreground: 248 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 248 0% 100%;
    --popover: 248 10% 5%;
    --popover-foreground: 248 0% 100%;
    --ring: 248 0% 10%;

    /* Typography (same as light theme) */
    --font-geist-sans: "Geist Sans", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
    --font-yekan: "Yekan", sans-serif;
    --font-parastoo: "Parastoo", sans-serif;
    --font-sahel: "Sahel", sans-serif;
    --font-samim: "Samim", sans-serif;
    --font-shabnam: "Shabnam", sans-serif;
    --font-tanha: "Tanha", sans-serif;
    --font-vazir: "Vazir", sans-serif;

    /* Borders & Radius */
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Style Link and a */
a .a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* Custom scrollbar */
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(207 90% 54%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(207 90% 45%); /* Slightly darker on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(207 90% 54%) transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
